{
  "check-coverage": true,
  "exclude": [
    "**/node_modules/**",
    ".nyc_output/**",
    ".scannerwork/**",
    ".vscode/**",
    "coverage/**",
    "dist/**",
    "test/**",
    "example/**"
  ],
  "extension": [".ts", ".tsx"],
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": ["src/**/*.ts"],
  "lines": 80,
  "reporter": "text"
}
